# removing extraneous LaTeX files.
documentation/*.log
documentation/*.aux
documentation/*.synctex.gz

# for now - these are large files for enigma background
resources

think_space/.idea
think_space/__pycache__*
