# removing extraneous LaTeX files.
documentation/*.log
documentation/*.aux
documentation/*.synctex.gz

# quartus files
src/ProjectEnigma/db
src/ProjectEnigma/incremental_db
src/ProjectEnigma/output_files
src/ProjectEnigma/simulation
src/ProjectEnigma/*.qsf
src/ProjectEnigma/*.bak
src/ProjectEnigma/*.qws
src/ProjectEnigma/*.qpf

# for now - these are large files for enigma background
resources

think_space/.idea
think_space/__pycache__*
